[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "redatam"]
	path = redatam
	url = https://github.com/litalbarkai/open-redatam
	subdir = rpkg
